/backup
/build
/output
/release

.DS_Store

agb_inject/agb_inject_mb.elf
agb_inject/agb_inject_mb.gba
agb_inject/build/
agb_inject/inject.sav
agb_inject/out.gba
agb_inject/out.sav
agb_inject/out.cia
agb_inject/gba.cxi
agb_inject/exefs/code.bin
agb_inject/header.bin